In [1]:
import pandas as pd
df = pd.read_csv('lab02_subway2013.csv')

In [2]:
#1. 5행만 출력
df.head()

   순번         역명      평일     토요일     일요일
0   1        신도림  333873  298987  216886
1   2  동대문역사문화공원  251049  211456  150589
2   3        충무로  229882  194865  142150
3   4       종로3가  224539  196606  142525
4   5         사당  200985  180230  134354

In [3]:
#2. 행 제목만 출력
for v in df.values:
    print(v[0])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [4]:
#3. 열 제목만 출력
for c in df.columns:
    print(c)

순번
역명
평일
토요일
일요일

In [5]:
#4. 평일 환승인원을 기준으로 오름차순 정렬
df.sort_values(by ='평일')

    순번         역명      평일     토요일     일요일
43  44         이촌   12802   46939   10681
42  43         옥수   14882   12755   10099
41  42         불광   18249   15840   14222
40  41        청량리   21073   55058   18905
39  40        신설동   22077   18994   13999
38  39         도곡   23394   18192   11998
37  38         성수   26896   20748   15317
36  37         오금   30618   21748   14396
35  36        충정로   34351   23565   16728
34  35         수서   36173   26721   19056
33  34         양재   37648   31230   19572
32  33        연신내   39078   33218   26982
31  32       가락시장   39719   28468   21403
30  31         동작   39895   30998   22681
29  30       홍대입구   41803   35231   28684
28  29         노원   42565   37975   28851
27  28       을지4가   45592   36206   25499
26  27         신당   47441   39928   28039
25  26        까치산   53969   43371   31865
24  25         강남   54272   38270   24352
23  24         약수   61013   49823   35554
22  23         동묘   61530   52958   41665
21  22         창동   68732   57350   49183
20  21        삼각지   70858   64159   46470
19  20      영등포구청   71838   55991   37574
18  19         당산   73319   55693   40713
17  18         이수   74713   67033   48136
16  17        동대문   86907   82370   58310
15  16       건대입구   91046   83788   61085
14  15        왕십리   92386   77144   57027
13  14       을지3가  102428   84096   62281
12  13         대림  106577   85098   64075
11  12         합정  115604   96976   69333
10  11         잠실  119826   94103   69450
9   10         시청  120866  104257   78903
8    9        서울역  141488  138754  108232
7    8         선릉  175262  132869   87621
6    7         교대  182104  154046   98136
5    6      고속터미널  194859  175702  120096
4    5         사당  200985  180230  134354
3    4       종로3가  224539  196606  142525
2    3        충무로  229882  194865  142150
1    2  동대문역사문화공원  251049  211456  150589
0    1        신도림  333873  298987  216886

In [6]:
#5. 토요일 환승 인원이 100000명 이상의 역의 역명과 다른 요일 환승인원 출력
df.loc[(df['토요일'] > 100000), ('역명','평일','일요일') ]

          역명      평일     일요일
0        신도림  333873  216886
1  동대문역사문화공원  251049  150589
2        충무로  229882  142150
3       종로3가  224539  142525
4         사당  200985  134354
5      고속터미널  194859  120096
6         교대  182104   98136
7         선릉  175262   87621
8        서울역  141488  108232
9         시청  120866   78903

In [7]:
#6 일요일 환승인원만 역명과 함께 출력
df.loc[:,('역명','일요일')]

           역명     일요일
0         신도림  216886
1   동대문역사문화공원  150589
2         충무로  142150
3        종로3가  142525
4          사당  134354
5       고속터미널  120096
6          교대   98136
7          선릉   87621
8         서울역  108232
9          시청   78903
10         잠실   69450
11         합정   69333
12         대림   64075
13       을지3가   62281
14        왕십리   57027
15       건대입구   61085
16        동대문   58310
17         이수   48136
18         당산   40713
19      영등포구청   37574
20        삼각지   46470
21         창동   49183
22         동묘   41665
23         약수   35554
24         강남   24352
25        까치산   31865
26         신당   28039
27       을지4가   25499
28         노원   28851
29       홍대입구   28684
30         동작   22681
31       가락시장   21403
32        연신내   26982
33         양재   19572
34         수서   19056
35        충정로   16728
36         오금   14396
37         성수   15317
38         도곡   11998
39        신설동   13999
40        청량리   18905
41         불광   14222
42         옥수   10099
43         이촌   10681

In [8]:
#7. 11~20번째 행의 일요일 환승 인원만 역명과 함께 출력
df.loc[11:20, ('역명','일요일')]

       역명    일요일
11     합정  69333
12     대림  64075
13   을지3가  62281
14    왕십리  57027
15   건대입구  61085
16    동대문  58310
17     이수  48136
18     당산  40713
19  영등포구청  37574
20    삼각지  46470

In [9]:
#8. 역명만 출력

#df['역명']
for st in df.values:
    print(st[1])

신도림
동대문역사문화공원
충무로
종로3가
사당
고속터미널
교대
선릉
서울역
시청
잠실
합정
대림
을지3가
왕십리
건대입구
동대문
이수
당산
영등포구청
삼각지
창동
동묘
약수
강남
까치산
신당
을지4가
노원
홍대입구
동작
가락시장
연신내
양재
수서
충정로
오금
성수
도곡
신설동
청량리
불광
옥수
이촌